body {
    font-family: sans-serif;
    font-size: 12px;
    color:darkslategrey;
    width:900px;
    margin: auto;
}

header {
    background-color: lightslategrey;
    height: 50px;
    font-size: 30px;
    color: white;
    padding: 5px;
}
/*
article {
    background-color: whitesmoke;
    padding: 5px;
    border: 2px solid ghostwhite;
    border-radius: 5px;
}

nav {
    background-color: lightgrey;
    padding: 5px;
}

nav li {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav li a {
    display: inline-block;
    background-color: silver;
    width: 100px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: slategray;
}

nav li a:hover {
    background-color: white;
}

