body {
    /* set up the font */
    font-family: sans-serif;
    font-size: 12px;
    color:darkslategrey;
    
    /* set up the layout */
    width:900px;
    margin: auto;
}

header {
    /* set up the font */
    font-size: 30px;
    color: white;
    
    /* set up the layout */
    background-color: lightslategrey;
    height: 50px;
    padding: 5px;
}

article {
    /* set up the layout */
    background-color: whitesmoke;
    border: 2px solid ghostwhite;
    padding: 5px;
}

